/* Universal Selector */
/* Applies styles to all elements */
* {
    color: #ff729f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Type Selector */
/* Styles <q> elements */
q {
    clear: both;
    color: #ff729f;
    font-size: large;
}
li{
    font-size: large;
}
/* Class Selector */
/* Styles elements with class .emoticon */
.emoticon {
    color: #cea7cc;
}

/* Styles paragraphs */
p {
    line-height: 2.2em;
    font-size: large;
}

/* ID Selector */
/* Styles element with id #dan_interests */
#dan_interests {
    color: #cea7cc;
    padding: 1em;
}

/* Styles element with id #first_text */
#first_text {
    color: #cea7cc;
}

/* Styles element with id #stickerss */
#stickerss {
    clear: left;
    padding: 1em;
}

/* Styles element with id #use */
#use {
    color: #cea7cc;
    padding: 1em;
}

/* Styles element with id #link */
#link {
    color: #cea7cc;
    padding: 1em;
}

/* Styles element with id #where */
#where {
    color: #cea7cc;
    padding: 1em;
}

/* Styles element with id #image1 */
#image1 {
    float: left;
    margin-right: 2em;
    clear: left;
    max-width: 100%;
    height: auto;
    min-width: 200px;
}

/* Styles element with id #image2 */
#image2 {
    padding: 10px;
    width: 300px;
    height: auto;
    border: 10px solid#cea7cc;
    border-radius: 10px;
    margin: 10px;
}

/* Relational Selector Combination */
/* Styles <li> elements within #where_igotthem */
section#where_igotthem li {
    color: #ff729f;
}

/* Relational Descendant Selector */
/* Styles <strong> elements within <header> */
header strong {
    color: #ff729f;
}

/* Pseudo-class */
/* Styles visited links within #website section */
section#website a:visited {
    color: #eca049;
}

/* Pseudo-class */
/* Styles hovered links within #website section */
section#website a:hover {
    font-size: 150%;
    color: #b665b2;
}

/* Body styles */
/* Styles for the body element */
body {
    width: 75%;
    margin: auto;
    height: 800px;
    padding: 2em;
    background: #000 url("image/background.jpg");
}

/* Styles for #stickerss */
#stickerss {
    float: left;
    width: 450px;
    margin: 20px 10px;
}

/* Styles for #where_igotthem */
#where_igotthem {
    clear: left;
    width: 450px;
    margin: 20px 10px;
}

/* Styles for #website */
#website {
    clear: right;
    width: 450px;
    margin: 20px 10px;
}

/* Styles for footer */
footer {
    clear: both;
}

/* Duplicate Styles for body */
body {
    height: 800px;
    background: #000 url("image/background.jpg");
}

/* Styles for articles */
article {
    column-count: 3;
    column-gap: 35px;
    column-rule: 2px solid black;
}

/* Styles for .box */
.box {
    width: 20%;
    text-align: center;
    margin: 1em;
    color: #cea7cc;
    padding: 1em;
    border-radius: 20px;
}

/* Styles for h2 */
h2 {
    background: #f3ebeb;
    border-radius: 10px;
    padding: 20px;
}

/* Styles for ul with class .naruto */
ul.naruto {
    list-style: url("../image/narutooo.png");
}

/* Navigation menu styles */
#nav_menu {
    padding-bottom: 2em;
    margin: auto;
    width: 100%;
    text-align: center;
}

#nav_menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#nav_menu ul li {
    margin-right: 20px;
    border-radius: 30px;
    background: #f3ebeb;
    border-radius: 10px;
    padding: 20px;
    font-size: large;
}

#nav_menu ul li a {
    display: block;
    text-decoration: none;
    color: #cea7cc;
    padding: 12px;
}


/* Styles for header */
header {
    clear: left;
}

/* Styles for #blog */
#blog {
    clear: left;
}

/* Styles for image1 */
header#homepage img {
    float: left;
    width: 40%;
    max-width: 400px;
    min-width: 200px;
    padding-right: 2em
}

/*media*/
@media screen and (max-width: 760px) {
    body {
        font-size: 14px;
    }

    #image1 {
        float: none;
        margin-right: 0;
        margin-bottom: 1em;
    }

    #image2 {
        width: 100%;
        margin: 10px 0;
    }

    #stickerss,
    #where_igotthem,
    #website {
        width: 100%;
        padding: 0.5em;
    }

    h2 {
        padding: 0.5em;
    }

    /* Navigation menu adjustments */

    #nav_menu {
        width: 100%;
        text-align: center;
    }

    #nav_menu ul {
        flex-direction: column;
        align-items: center;
        padding: 2%;
    }

    #nav_menu ul li {
        display: inline;
        margin-right: 0;
        margin-bottom: 10px;
    }
}